.group-name{
    padding: 10vh 15vw;
    display: flex;
    flex-direction: column;


    .search-bar {
        width: 80%;
        margin-inline: auto;

        input {
            position: relative;
            height: 8vh;
            width: 100%;
            top: 5vh;
            margin-bottom: 8vh;
            position: relative;
            padding-top: 1vh;
            background: rgba(196, 196, 196, 0.4);
            color: rgba(255, 255, 255, 0.8);  
            text-align: left;
            border: none;
            outline: none;
            z-index: 3;
            font-size: 2em;
            padding: 1vh 1vw;
            border-radius: 5px;

        }

        button {
            margin-inline: auto;
            text-align: center;
        }
        

        input::placeholder {
            font-size: 0.7em;
            text-align: center;
        }

    }

    .button {
        display: flex;
        justify-content: center;

        button {
            background-color: rgb(175, 255, 175);
            border: none;
            padding: 0.8em 1.6em;
            border-radius: 5px;
            color: #444;
            font-size: 1.3em;
            font-weight: 500;
        }
    }
}
    
h2 {
    text-align: center;
}