.navbar-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 10rem 10rem 10rem 1fr 1fr;
  background-color: whitesmoke;
  border-bottom: solid 1px rgb(67, 165, 255);
}

.navbar-grid-links {
  grid-column: span 3;
  grid-column-start: 3;
}

.navbar-container {
  justify-self: center;
  width: 100%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  .navbar-logo {
    margin-left: 1rem;
    width: 75px;
    height: 100%;
    cursor: pointer;
  }

  .navbar-logo-button {
    background: none;
    border: none;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    height: 75%;
  }

  .navbar-element {
    height: 100%;
    display: flex;
    align-items: center;

    .navbar-button {
      background-color: whitesmoke;
      height: 100%;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.1em;
      font-family: Raleway;
      font-weight: bold;
      color: black;
      transition: 0.4s;
      width: 10rem;
    }

    .navbar-button:hover {
      background: rgb(67, 165, 255);
      color: white;
    }

    .navbar-button-page {
      height: calc(100% + 2px);
      border-bottom: solid 2px rgb(67, 165, 255);
    }
  }
}
