.user-list {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 9vw;
  

  .single-user {
      height: 65vh;
      background: rgba($light-purple-background, 0.4);
      width: 90%;
      margin: 1vh auto;
      position: relative;
      color: #444;


      h2, h4 {
        height: 6vh;
        overflow: hidden;
        text-overflow: ellipsis;
      }



      .user-picture-container {
          margin: 4vh auto;
          img {
              height: 20vh;
              width: 20vh;
              object-fit:contain;
          }

      }
      .action {
          position: absolute;
          bottom: 0;
          left: 0;
          display: none;
          outline: none;
          border: none;
          cursor: pointer;
          background: rgba($color: $light-purple-background, $alpha: 0.8);
          height: 20%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .star-container, h3 {
              margin: 0 2vh;
          }
          h3 {
              font-size: 2em;
          }
      }
    }
  }